# Logs and Environment variables
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
client/node_modules/

# Production build directories
dist/
client/dist/
build/

# OS metadata
.DS_Store
Thumbs.db
